[submodule "indexer"]
	path = indexer
	url = https://github.com/midnightntwrk/midnight-indexer
[submodule "midnight-wallet-dapp"]
	path = midnight-wallet-dapp
	url = https://github.com/midnightntwrk/midnight-wallet-dapp
