if [ -f .envrc.local ]; then
  source .envrc.local
fi

case $(uname -m) in
    x86_64) ARCH="amd64" ;;
    aarch64|arm64) ARCH="arm64" ;;
    *) echo "Unsupported architecture: $(uname -m)"; exit 1 ;;
esac

export ARCHITECTURE=${ARCHITECTURE:-linux/${ARCH}}

GIT_ROOT="$(git rev-parse --show-toplevel)"
NODE_VERSION="$(cat ${GIT_ROOT}/node/Cargo.toml | grep -m 1 version | sed 's/version *= *"\([^\"]*\)".*/\1/')"

if RC_TAG=$(git describe --tags --match="*rc*" --exact-match --abbrev=0 2>/dev/null); then
  GIT_SHORT_TAG=$(echo "$RC_TAG" | sed -n 's/.*-\(rc\.[0-9]\+\)/\1/p')
else
  GIT_SHORT_TAG="$(git rev-parse --short=8 HEAD)"
fi

NODE_TAG="${NODE_VERSION}-${GIT_SHORT_TAG}"
if [ "${ARCH}" = "arm64" ]; then
  NODE_TAG="${NODE_TAG}-arm64"
fi
export MIDNIGHT_NODE_TAG="${MIDNIGHT_NODE_TAG:-$NODE_TAG}"
export MIDNIGHT_NODE_IMAGE="ghcr.io/midnight-ntwrk/midnight-node:${MIDNIGHT_NODE_TAG}"

INDEXER_GIT_SHORT_TAG="$(git -C ${GIT_ROOT}/indexer rev-parse --short=8 HEAD)"
INDEXER_VERSION="$(cat ${GIT_ROOT}/indexer/Cargo.toml | grep -m 1 version | sed 's/version *= *"\([^\"]*\)".*/\1/')"

export INDEXER_TAG="${INDEXER_TAG:-${INDEXER_VERSION}-${INDEXER_GIT_SHORT_TAG}}"
export INDEXER_API_IMAGE="ghcr.io/midnight-ntwrk/indexer-api:${INDEXER_TAG}"
export INDEXER_WALLET_IMAGE="ghcr.io/midnight-ntwrk/wallet-indexer:${INDEXER_TAG}"
export INDEXER_CHAIN_IMAGE="ghcr.io/midnight-ntwrk/chain-indexer:${INDEXER_TAG}"

echo "💻 architecture: ${ARCHITECTURE}"
echo "🦩 midnight-node: ${MIDNIGHT_NODE_TAG}"
echo "🌵 indexer: ${INDEXER_TAG}"
